services:
  backend:
    build: ./backend
    ports:
      - "5000:5000"
    environment:
      MODEL_DIR: /app/model
    volumes:
      - ./backend/model:/app/model
  frontend:
    build: ./frontend
    ports:
      - "8080:80"
    depends_on:
      - backend
